language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"

env:
  - DJANGO="https://www.djangoproject.com/download/1.6b4/tarball/"
  - DJANGO="django==1.5.4 --use-mirrors"
  - DJANGO="django==1.4.8 --use-mirrors"

install:
  - pip install $DJANGO
  - pip install django-localflavor --use-mirrors
  - export PYTHONPATH=.

script:
  - python distance/runtests/runtests.py

before_script:
  - psql -c 'create database dev_db;' -U postgres

matrix:
  exclude:
    - python: "3.2"
      env: DJANGO="django==1.4.8 --use-mirrors"
    - python: "3.3"
      env: DJANGO="django==1.4.8 --use-mirrors"
